Options -Indexes
DirectoryIndex index.php

RewriteEngine On
RewriteRule ^ubs/?$ index.php?portal=ubs [QSA,L]
RewriteRule ^clinica/?$ index.php?portal=clinica [QSA,L]

<FilesMatch "^(config|common|database)\.php$">
    Require all denied
</FilesMatch>

<FilesMatch "\.(sql|txt)$">
    Require all denied
</FilesMatch>
